@model asp.net_lab.Models.Bookstore.CustomerModel

@{
	ViewBag.Title = "Add customer";
	Layout = "_Layout";
}

<h2>Dodaj klienta</h2>
<div>
	<form asp-action="AddCustomer" method="post">
		<div class="mb-3">
			<label class="form-label" asp-for="FirstName">Imię</label>
			<input class="form-control" asp-for="FirstName"></input>
			<span asp-validation-for="FirstName" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label class="form-label" asp-for="LastName"></label>
			<input class="form-control" asp-for="LastName"></input>
			<span asp-validation-for="LastName" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label class="form-label" asp-for="Email"></label>
			<input class="form-control" asp-for="Email"></input>
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary">Dodaj</button>
	</form>

</div>
