@model ContactModel

@{
	ViewBag.Title = "title";
	Layout = "_Layout";
}

<h2>Edytuj kontakt</h2>
<div>
	<form asp-action="Edit" method="post">
		<input asp-for="Id" />
		<div class="mb-3">
			<label class="form-label" asp-for="FirstName">Imię</label>
			<input class="form-control" asp-for="FirstName"></input>
			<span asp-validation-for="FirstName" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label class="form-label" asp-for="LastName"></label>
			<input class="form-control" asp-for="LastName"></input>
			<span asp-validation-for="LastName" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label class="form-label" asp-for="Email"></label>
			<input class="form-control" asp-for="Email"></input>
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label class="form-label" asp-for="BirthDate">Birth date</label>
			<input class="form-control" asp-for="BirthDate"></input>
			<span asp-validation-for="BirthDate" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label class="form-label" asp-for="PhoneNumber"></label>
			<input class="form-control" asp-for="PhoneNumber"></input>
			<span asp-validation-for="PhoneNumber" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label class="form-label" asp-for="Category">Kategoria</label>
			<select 
				class="form-control" 
				asp-for="Category" 
				asp-items="@Html.GetEnumSelectList<Category>()">
			</select>
		</div>
		<button type="submit" class="btn btn-primary">Zapisz</button>
	</form>

</div>
